<div class="settings-menu">
  <form [formGroup]="settingsForm" (submit)="submitSettings()">
    <label for="continent">Choose a continent:</label><br/>
    <select formControlName="continent" id="continent" class="form-select-md">
      <option>Africa</option>
      <option>Asia</option>
      <option>Europe</option>
      <option>North America</option>
      <option>Oceania</option>
      <option>South America</option>
    </select><br/>

    <button type="submit" class="btn btn-dark">Start Quiz</button>
  </form>

  
</div>


