<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Flag Quiz</title>
</head>
<body>
<!--DISPLAY FLAG AND MAKE GUESS-->
  <form onsubmit="displayResult(); return false;" id="guessForm">
    <span>
      <img th:src="${country.flagUrl}" alt="Flag"/>
      <input type="text" id="guess" name="guess" />
      <button type="submit">Submit</button>
    </span>
    <p id="result"></p>
  </form>
<!--DISPLAY WHETHER THE GUESS WAS CORRECT OR NOT-->
  <script>
    const correctAnswer = "[[${country.name}]]";
    const guessForm = document.getElementById("guessForm");

    function displayResult() {
      const correctAnswer = "[[${country.name}]]";
      const guess = document.getElementById("guessForm").guess.value;

      if (guess === correctAnswer) {
        document.getElementById("result").innerText = "Correct!";
      } else {
        document.getElementById("result").innerText = "No, it's actually " + correctAnswer;
      }
    }

  </script>

</body>
</html>